<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background: linear-gradient(120deg, #f6d365, #fda085);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 1rem;
        }

        .container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 1rem;
            width: 90%;
            max-width: 925px; 
            padding: 1rem;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
            overflow: hidden; 
        }

        .form-container, .list-container {
            flex: 1;
        }

        .form-container {
            max-width: 100%;
        }

        .list-container {
            max-width: 100%;
            overflow-y: auto; 
            max-height: 400px; 
        }

        h1 {
            background: #fda085;
            color: #fff;
            font-size: 1.6rem; 
            font-weight: 700;
            letter-spacing: 1px;
            padding: 10px; 
            margin-bottom: 1rem;
        }

        form {
            margin-bottom: 1rem;
        }

        label {
            display: block;
            margin-bottom: 4px; 
            color: #333;
            text-align: left;
        }

        input, textarea {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 0.9rem; 
            margin-bottom: 0.8rem; 
        }

        textarea {
            resize: vertical;
            height: 80px; 
        }

        button, .btn {
            padding: 8px; 
            border: none;
            border-radius: 5px;
            font-size: 0.9rem;
            cursor: pointer;
            transition: background 0.3s;
            text-align: center;
        }

        .submit-btn {
            background: #fda085;
            color: #fff;
            width: 100%;
        }

        .submit-btn:hover {
            background: #f6d365;
        }

        .edit-btn {
            background: #fda085;
            color: #fff;
            text-decoration: none;
            display: inline-block;
            padding: 8px; 
            border-radius: 5px;
            font-size: 0.9rem;
            cursor: pointer;
            transition: background 0.3s;
        }

        .edit-btn:hover {
            background: #f6d365;
        }

        .delete-btn {
            background: #e57373;
            color: #fff;
            border: none;
            display: inline-block;
            padding: 8px; 
            border-radius: 5px;
            font-size: 0.9rem; 
            cursor: pointer;
            transition: background 0.3s;
            margin-left: 8px; 
        }

        .delete-btn:hover {
            background: #c62828;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            background: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 8px; 
            margin-bottom: 0.8rem; 
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            color: #fda085;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .no-contacts {
            padding: 15px;
            text-align: center;
            background: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            color: #333;
            font-size: 1rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        #reminder-section {
            margin-top: 1rem;
        }

        #reminder-section h2 {
            background: #f6d365;
            color: #fff;
            font-size: 1.4rem; 
            font-weight: 700;
            letter-spacing: 1px;
            padding: 10px; 
            margin-bottom: 1rem;
        }

        #reminder-form label {
            display: block;
            margin-bottom: 4px; 
            color: #333;
            text-align: left;
        }

        #reminder-form input, #reminder-form textarea {
            width: calc(100% - 16px);
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 0.9rem; 
            margin-bottom: 0.8rem; 
        }

        #reminder-form textarea {
            resize: vertical;
            height: 80px; 
        }

        #reminder-form button {
            background: #f6d365;
            color: #fff;
            font-size: 1rem; 
            width: 100%;
            padding: 10px;
        }

        #reminder-form button:hover {
            background: #f6d365;
        }

        #reminder-list li {
            background: #f9f9f9;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 8px; 
            margin-bottom: 0.8rem; 
            text-align: left;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Contatos</h1>
            <form action="/contacts/add" method="POST">
                <label for="name">Nome:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label for="phone">Telefone:</label>
                <input type="text" id="phone" name="phone">
                <label for="notes">Notas:</label>
                <textarea id="notes" name="notes"></textarea>
                <label for="tags">Tags (separadas por vírgula):</label>
                <input type="text" id="tags" name="tags">
                <button class="submit-btn" type="submit">Adicionar Contato</button>
            </form>
        </div>
        <div class="list-container">
            <input type="text" id="search-tags" placeholder="Buscar:">
            <% if (contacts.length === 0) { %>
                <div class="no-contacts">Não há nenhum contato :&#40;</div>
            <% } else { %>
                <ul id="contact-list">
                    <% contacts.forEach(contact => { %>
                        <li id="contact-<%= contact._id %>">
                            <div>
                                <strong><%= contact.name %></strong><br>
                                Email: <%= contact.email %><br>
                                Telefone: <%= contact.phone %><br>
                                Notas: <%= contact.notes %><br>
                                Tags: <%= contact.tags.join(', ') %>
                            </div>
                            <div>
                                <a href="/contacts/edit/<%= contact._id %>" class="edit-btn">Editar</a>
                                <button class="delete-btn" data-id="<%= contact._id %>">Deletar</button>
                            </div>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </div>
    </div>
<div id="reminder-section">
    <h2>Lembretes</h2>
    <form id="reminder-form">
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" required>
        <label for="note">Nota:</label>
        <textarea id="note" name="note" required></textarea>
        <button type="submit">Adicionar Lembrete</button>
    </form>
    <ul id="reminder-list">
    </ul>
</div>

<script>


document.querySelectorAll('.delete-btn').forEach(button => {
  button.addEventListener('click', async (event) => {
    const id = event.target.getAttribute('data-id');
    try {
      const response = await fetch(`/contacts/${id}`, {
        method: 'DELETE',
        headers: {
          'Content-Type': 'application/json'
        }
      });
      if (response.ok) {
        location.reload(); // Recarrega a página para atualizar a lista de contatos
      } else {
        console.error('Erro ao deletar contato:', await response.json());
      }
    } catch (error) {
      console.error('Erro ao enviar requisição:', error);
    }
  });
});


document.addEventListener('DOMContentLoaded', function() {
    function fetchReminders() {
        fetch('/contacts/reminders')
            .then(response => response.json())
            .then(reminders => {
                const reminderList = document.getElementById('reminder-list');
                reminderList.innerHTML = '';
                reminders.forEach(reminder => {
                    const listItem = document.createElement('li');

                    // Formatar a data
                    const date = new Date(reminder.date);
                    const formattedDate = date.toLocaleDateString(); // Exemplo de formato: "5/11/2024"
                    
                    listItem.textContent = `${formattedDate}: ${reminder.note}`;
                    
                    // Cria o botão de deletar
                    const deleteButton = document.createElement('button');
                    deleteButton.textContent = 'Delete';
                    deleteButton.dataset.id = reminder._id;
                    deleteButton.addEventListener('click', function() {
                        deleteReminder(reminder._id, listItem);
                    });
                    
                    listItem.appendChild(deleteButton);
                    reminderList.appendChild(listItem);
                });
            })
            .catch(error => console.error('Erro ao buscar lembretes:', error));
    }

    document.getElementById('reminder-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const date = document.getElementById('date').value;
        const note = document.getElementById('note').value;

        fetch('/contacts/reminders/add', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ date, note })
        })
        .then(response => response.json())
        .then(() => {
            document.getElementById('reminder-form').reset();
            fetchReminders();
        })
        .catch(error => console.error('Erro ao adicionar lembrete:', error));
    });

    function deleteReminder(id, listItem) {
        fetch(`/contacts/reminders/delete/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                listItem.remove();
            } else {
                console.error('Erro ao deletar lembrete');
            }
        })
        .catch(error => console.error('Erro ao deletar lembrete:', error));
    }

    fetchReminders();
});

</script>
</body>
</html>
